@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

@font-face {
    font-family: grotesk;
    src: url('../fonts/hk-grotesk/HKGrotesk-Regular.otf');
}

html {
    font-size: 100%;
}

img {
    max-width: 100%;
    height: auto;
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: white;
    text-decoration: none;
}

.mr-1 {
    margin-right: +10px;
}

.mr-2 {
    margin-right: +20px;
}

.mr-3 {
    margin-right: +30px;
}

.mr-4 {
    margin-right: +40px;
}

.ml-1 {
    margin-left: +10px;
}

.ml-2 {
    margin-left: +20px;
}

.ml-3 {
    margin-left: +30px;
}

.ml-4 {
    margin-left: +40px;
}

body {
    background: #171717;
    font-family: grotesk;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    color: white;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

nav {
    height: 80px;
    width: 100%;
    background-color: #171717;
}

nav .logo {
    padding-top: 2rem;
    float: left;
    padding-left: 12%;
}

nav ul {
    float: right;
    margin-right: 12%;
}

nav ul li {
    display: inline-block;
    margin-left: 4rem;
    line-height: 6rem;
    font-size: 1rem;
}

@media (max-width: 952px) {
    nav ul li {
        display: inline-block;
        margin: 0 2rem;
        line-height: 6rem;
        font-size: 0.8rem;
    }
}

nav ul li a {
    color: white;
    transition: all 0.5s ease;
}

nav ul li a:hover {
    color: #F0D575;
}

.checkbtn {
    font-size: 1.4rem;
    color: white;
    float: right;
    line-height: 4rem;
    margin-right: 3rem;
    margin-top: 2rem;
    cursor: pointer;
    display: none;
}

@media (max-width:858px) {
    .checkbtn {
        display: block;
    }
    nav {
        position: fixed;
        top: 0;
        z-index: 500;
    }
    nav ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: #171717;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s ease;
        z-index: 500;
    }
    nav ul li {
        display: block;
        font-size: 1rem;
    }
    #check:checked~ul {
        left: 0;
    }
}

#check {
    display: none;
}

.intro-container {
    color: white;
    font-size: 2.6rem;
    margin-right: 40%;
    margin-left: 12%;
    margin-top: 180px;
}

@media (max-width: 800px) {
    .intro-container {
        font-size: 5vw;
    }
}

@media (max-width: 858px) {
    .intro-container {
        margin-right: 12%;
    }
}

@media (max-width: 480px) {
    .intro-container {
        font-size: 28px;
    }
}

.intro-firstline {
    margin-bottom: 2.6rem;
    font-weight: bold;
}

.intro-para {
    margin-bottom: 2.6rem;
    font-weight: bold;
}

.intro-footer {
    font-size: 1rem;
    font-family: 'Space Mono', monospace;
}

.projects-container {
    display: grid;
    grid-template-rows: 1fr;
    grid-row-gap: 10px;
    margin-top: 200px;
    margin-right: 12%;
    margin-left: 12%;
    margin-bottom: 100px;
}

@media only screen and (min-width: 940px) {
    .project {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 3rem;
        height: max(300px, 24vw);
        color: white;
        cursor: pointer;
        margin-bottom: 100px;
    }
}

@media only screen and (min-width: 858px) and (max-width: 940px) {
    .project {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 3rem;
        height: 400px;
        color: white;
        cursor: pointer;
        margin-bottom: 100px;
    }
}

@media (max-width: 858px) {
    .project {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 45vw auto;
        grid-gap: 3rem;
        color: white;
        cursor: pointer;
    }
}

.p-image {
    background: #393A4C;
}

.p-content {
    position: relative;
}

.p-title {
    font-size: 2rem;
    color: #F0D575;
    font-weight: bold;
    border-bottom: 1.5px solid #FFFFFF;
    padding-bottom: 1rem;
    position: relative;
}

@media (max-width: 858px) {
    .p-title {
        font-size: max(16px, 5vw);
    }
}

.p-title .p-num {
    float: right;
}

@media (max-width: 940px) {
    .p-title .p-num {
        float: none;
    }
}

@media (max-width: 858px) {
    .p-title .p-num {
        float: right;
    }
}

.p-casestudy {
    margin-top: 1.2rem;
    margin-bottom: 1.5rem;
    font-size: 1rem;
    font-family: 'Space Mono', monospace;
}

@media (max-width: 858px) {
    .p-casestudy {
        margin-top: 1rem;
        margin-bottom: 1.2rem;
        font-size: 0.8rem;
        font-family: 'Space Mono', monospace;
    }

}



.p-para {
    font-size: 1.25rem;
    font-family: 'Space Mono', monospace;
    font-weight: bold;
    opacity: 0.8;
}

@media (max-width: 1400px) {
    .p-para {
        font-size: 1rem;
    }
}

@media (max-width: 858px) {
    .p-para {
        font-size: max(14px, 2.2vw);
    }
}

.p-tags {
    position: absolute;
    bottom: 5px;
    font-family: 'Space Mono', monospace;
    opacity: 0.8;
    font-size: 1rem;
    padding-right: 40px;
    margin-top: 50px;
}

@media (max-width: 858px) {
    .p-tags {
        position: static;
        margin-top: 5vw;
        font-family: 'Space Mono', monospace;
        opacity: 0.8;
        font-size: max(2vw, 12px);
        padding-right: 10vw;
    }
}

.p-arrow {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 2rem;
    color: #F0D575;
}

@media (max-width: 1400px) {
    .p-arrow {
        position: absolute;
        bottom: 0;
        right: 0;
        font-size: 2vw;
        color: #F0D575;
        margin-left: 20px;
    }
}

@media (max-width: 858px) {
    .p-arrow {
        font-size: 2rem;
    }
}

@media (max-width: 480px) {
    .p-arrow {
        font-size: 1.2rem;
    }
}

.contact-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-right: 12%;
    margin-left: 12%;
    margin-top: 5vw;
    margin-bottom: 20vw;
}

@media (max-width: 858px) {
    .contact-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 50px;
        margin-bottom: 20vw;
    }
}

.intro-contact {
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 2.8rem;
}

@media (max-width: 858px) {
    .intro-contact {
        font-weight: bold;
        font-size: 1rem;
        line-height: 2rem;
    }
}

.contact-para {
    font-family: 'Space Mono', monospace;
    font-size: 1rem;
    margin-top: 30px;
    line-height: 2rem;
}

@media (max-width: 858px) {
    .contact-para {
        font-family: 'Space Mono', monospace;
        font-size: 0.8rem;
        margin-top: 30px;
        line-height: 1.6rem;
    }
}

.contact-right {
    position: relative;
}

.sociallinks {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.5rem;
}

@media (max-width: 858px) {
    .sociallinks {
        font-size: 1rem;
    }
}

.sociallinks a {
    opacity: 0.8;
    transition: all .5s ease;
}

.sociallinks a:hover {
    opacity: 1;
}

footer {
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.12);
}

footer ul {
    float: left;
    margin-left: 12%;
}

footer ul li {
    display: inline-block;
    margin: 0 2rem;
    line-height: 4rem;
    font-size: 1rem;
}

@media (max-width: 952px) {
    footer ul li {
        display: inline-block;
        margin: 0 2rem;
        line-height: 6rem;
        font-size: 0.8rem;
    }
}

footer ul li a {
    color: white;
    transition: all 0.5s ease;
}

footer ul li a:hover {
    color: #F0D575;
}

@media (max-width: 1000px) {
    footer ul li {
        display: none;
    }
}

.footer-credits {
    float: right;
    line-height: 4rem;
    margin-right: 12%;
    font-size: 0.8rem;
    opacity: 0.8;
}

@media (max-width: 1000px) {
.footer-credits {
    float: none;
    margin:auto;
    text-align: center;
}
}