@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
html {
    font-size: 100%;
}

img {
    max-width: 100%;
    height: auto;
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
}

.mr-1 {
    margin-right: +10px;
}

.mr-2 {
    margin-right: +20px;
}

.mr-3 {
    margin-right: +30px;
}

.mr-4 {
    margin-right: +40px;
}

.ml-1 {
    margin-left: +10px;
}

.ml-2 {
    margin-left: +20px;
}

.ml-3 {
    margin-left: +30px;
}

.ml-4 {
    margin-left: +40px;
}

body {
    background: #171717;
    font-family: 'Montserrat', sans-serif;
}

nav {
    height: 80px;
    width: 100%;
    background-color: #171717;
}

nav .logo {
    padding-top: 2rem;
    float: left;
    padding-left: 10%;
}

nav ul {
    float: right;
    margin-right: 5rem;
}

nav ul li {
    display: inline-block;
    margin: 0 2rem;
    line-height: 6rem;
    font-size: 1rem;
}

@media (max-width: 952px) {
    nav ul li {
        display: inline-block;
        margin: 0 2rem;
        line-height: 6rem;
        font-size: 0.8rem;
    }
}

nav ul li a {
    color: white;
    transition: all 0.5s ease;
}

nav ul li a:hover {
    color: #F0D575;
}

.checkbtn {
    font-size: 1.4rem;
    color: white;
    float: right;
    line-height: 4rem;
    margin-right: 3rem;
    margin-top: 2rem;
    cursor: pointer;
    display: none;
}

@media (max-width:858px) {
    .checkbtn {
        display: block;
    }
    nav ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: #171717;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s ease;
    }
    nav ul li {
        display: block;
        font-size: 1rem;
    }
    #check:checked~ul {
        left: 0;
    }
}

#check {
    display: none;
}

.intro-container {
    color: white;
    font-size: 2.6rem;
    margin-right: 40%;
    margin-left: 10%;
    margin-top: 180px;
}

@media (max-width: 800px) {
    .intro-container {
        font-size: 5vw;
    }
}

@media (max-width: 858px) {
    .intro-container {
        margin-right: 10%;
    }
}

@media (max-width: 480px) {
    .intro-container {
        font-size: 28px;
    }
}

.intro-firstline {
    margin-bottom: 2.6rem;
}

.intro-para {
    margin-bottom: 2.6rem;
}

.intro-footer {
    font-size: 1rem;
}